<% if current_user %>

<div class="content-wrapper">
 <section class="content-header">
   
  <div class="row">
    <!-- left column -->
      <div class="col-md-6">	
		    <div class="box box-info">
          <div class="box-header">
            <h3 class="title-box">Editando Fecha Tope</h3>
          </div>	
          
  <%= render 'form' %>

</section>
</div>

<% else %>
  <%= controller.redirect_to log_in_path %>
<% end %>
