<% if current_user %>
<div class="content-wrapper">
 <section class="content-header">
    <%= render 'form_edit' %>
    <% else %>
    <%= controller.redirect_to log_in_path %>
    <% end %>
<!--
  </section>
</div>
-->
